@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Roboto:wght@100&display=swap');

body {
    background: #2F3032;
    padding: 0;
    margin: 0;
}

#np {
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: #FFF;
}

/*Conteudo do Formulario*/
.formulario {
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-left: 90px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    color: #FFF;

    font-size: 20px;
}

input {
    border: 1px solid #000000;
    border-radius: 24px;
    margin-top: 5px;

    width: 340px;
    height: 4vh;
}

#campo::placeholder {
    color:#000000;
    position: absolute;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 6px;
}

.check {
    display: flex;
    justify-content: center;
}

.checki {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#second1 {
    font-family: "Ovo";
    position: absolute;
    width: 200px;
    height: 37px;
    left: 690px;
    top: 540px;
    
    color: #FFF;
    background: #2F3032;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}

#second2 {
    font-family: "Ovo";
    position: absolute;
    width: 200px;
    height: 37px;
    left: 690px;
    top: 590px;
    
    color: #FFF;
    background: #2F3032;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}

a {
    color: #8699BE;
    position: absolute;
    margin-top: 1vh;
    margin-left: 14vh;
}

/*Imagem de Fundo*/
.imagem {
    display: flex;
    justify-content: center;
}

img {
    max-width: 300px;
    max-height: 250px
}

/*Conteudo do Footer*/
.footer-containt {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3032;
    color: white;
    text-align: center;

    margin-top: 15vh;
}

.loguni {
    position: absolute;
    display: flex;
    justify-content: flex;
}

#log {
    width: 200px;
    height: 71px;
}

.direito {
    display: flex;
    justify-content: center;
}

span {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    margin-top: 30px;
    margin-left: 30px;
}
