@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.4) url(./img/direito.jpg);
    overflow: hidden;
}

/*Cabeçalho*/
.cabecalho {
    position: fixed;
    width: 100vw; height: 10vh;
    padding-left: 100px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    text-decoration: underline overline;
    text-align: center;
    font-size: 30px;
    color: white;
}
.lateral-esq {
    display: flex;
    justify-content: center;
    width: 15vw; height: 100vh;
}
.rodape {
    position: fixed; bottom: 0px;
    display: flex;
    width: 100vw; height: 10vh;
    justify-content: space-around;
    align-items: flex-end;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: white;
}
.logouniamerica {
    position: fixed; left: 20px;
    width: 200px; height: 75px;
}
.logo {
    width: 150px; height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.logodefundo {
    position: fixed;
    width: 400px; height: 400px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    opacity: 20%;
    z-index: 1;
}
.npju {
    position: fixed; left: 0px; top: 110px;
    width: 15vw; height: 5vh;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    color: #f6d55e;
}
.container {
    width: 100vw; height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
}
.areabranca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%; height: 80vh;
    justify-content: flex-start;
    align-content: center;
    background: white;
}

.fundoretangulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 80vw; height: 6vh;
    border-radius: 5px;
    background: #2F3032;
    z-index: 2;
}

.fontreabranca {
    width: 120px;
    padding-left: 20px;
    padding-right: 480px;
    line-height: 19px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    color: white;
}

.fonteareabranca {
    width: 120px;
    padding-left: 20px;
    padding-right: 480px;
    line-height: 19px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.inputesq {
    position: absolute;
    width: 50vw; height: 3.5vh;
    border-radius: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-family: 'Roboto';
    border-style: solid;
    border: #FFF;
    font-weight: 400;
    font-size: 20px;
    margin-left: 150px;
}

#ad {
    color: blue;
}

.inputesq::placeholder {
    color: #000;
}

.inputdir {
    position: absolute;
    width: 30vw; height: 4vh;
    border-radius: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 49vw;
}
.botao {
    position: fixed; top: 225px;
    width: 13vw; height: 5vh;
    border: 2px outset ;
    border-radius: 5px;
    border-style: solid;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: black;
}

.button {
  position: fixed; top: 275px;
  width: 13vw; height: 5vh;
  border: 2px outset ;
  border-radius: 5px;
  border-style: solid;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: black;
}
.botao:active {
    border: 1px outset;
    width: 12vw; height: 4.5vh;
    
}
.botao2 {
    position: fixed; bottom: 100px;
    width: 13vw; height: 5vh;
    border: 2px outset ;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border: #2F3032;
    background: #2F3032;
    color: white;
}
.botao2:active {
    border: 1px outset;
    width: 12vw; height: 4.5vh;
    
}
.Direitosaut {
    padding-left: 200px;
}
.a {
    text-decoration: none;
    color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tabela de Documentos */
table {
    margin-top: -40px;
}

th td {
    padding: 0;
}

th {
    font-family: 'Roboto';
    margin-top: -40px;
    padding: 61px;
}

td {
    font-family: 'Roboto';
    padding-left: 71px;
}

@media screen and (max-width: 1037px) {
  .botao .a {
    top: 231px;
    font-size: 14px;
  }

  .button .a {
    top: 231px;
    font-size: 14px;
  }

  .botao2 {
    font-size: 15px;
  }

  .logouniamerica {
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 770px) {
    .botao .a {
        top: 231px;
        font-size: 13px;
    }
    
    .button .a {
        top: 231px;
        font-size: 14px;
    }

    .logo {
        width: 90px;
        height: 90px;
    }

    .botao2 {
        font-size: 13px;
    }

    .logouniamerica {
        width: 150px;
        height: 50px;
    }
}
