@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Roboto:wght@100&display=swap');

body {
    background: #2F3032;
    padding: 0;
    margin: 0;
}

/*Cabeçalho*/
#np {
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: #FFF;
}

@media screen and (max-width: 598px) {
  #np {
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 28px;
  }
}

/*Imagem de Fundo*/
.imagem {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

#fundo {
  width: 390px;
}

@media screen and (max-width: 598px) {
  img {
    flex: 50%;
    max-width: 50%;
  }
}

/*Conteudo do Formulario*/
.formulario {
  display: flex;
  justify-content: center;

  margin-top: 10px;
  margin-left: -90px;
}

label {
  color: #FFF;
  font-size: 18px;
}

input {
  border: 1px solid #000000;
  border-radius: 24px;
  margin-top: 5px;

  width: 340px;
  height: 4vh;
}

#campo {
  width: 45vh;
  height: 4vh;
}

#campo::placeholder after{
  color:#000000;
  position: absolute;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 6px;
}

.check {
  display: flex;
  justify-content: center;
}

.checki {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#second1 {
  font-family: "Ovo";
  position: absolute;
  width: 142px;
  height: 35px;
  left: 96vh;
  top: 648px;
  
  color: #FFF;
  background: #2F3032;
  border: 1px solid #FFFFFF;
  border-radius: 28px;
}

#second2 {
  font-family: "Ovo";
  position: absolute;
  width: 142px;
  height: 35px;
  left: 96vh;
  top: 696px;
  
  color: #FFF;
  background: #2F3032;
  border: 1px solid #FFFFFF;
  border-radius: 28px;
}

a {
  color: #8699BE;
  position: absolute;
  margin-top: 1vh;
  margin-left: 13vh;
}

@media screen and (max-width: 598px) {
  .formulario {
    display: flex;
    justify-content: center;

    margin-left: -40px;
  }

  label {
    font-size: 13px;
  }

  #campo {
    width: 40vh;
  }

  #second1 {
    width: 150px;
    height: 34px;
    top: 502px;
    left: 27vh;
  }

  #second2 {
    width: 150px;
    height: 34px;
    top: 453px;
    left: 27vh;
  }
}

/*Conteudo do Footer*/
.footer-containt {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3032;
    color: white;
    text-align: center;

    margin-top: 15vh;
}

.loguni {
    position: absolute;
    display: flex;
    justify-content: flex;
}

#log {
    width: 171px;
    height: 66px;

    margin-top: -16px;
    margin-left: 7px;
}

.direito {
    display: flex;
    justify-content: center;
}

p {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    margin-top: 30px;
    margin-left: 30px;
}

@media screen and (max-width: 598px) {
  #log {
    width: 186px;
    height: 36px;
    margin-top: 13px;
    margin-left: 8px;
}

  p {
    font-size: 12px;
    margin-top: 28px;
  }
}
